@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Rammetto+One');

/*
@font-face {
    font-family: "Rammetto One";
    src: url(//fonts.googleapis.com/css?family=Rammetto+One);
}

@font-face {
    font-family: Muli;
    src: url(https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i);
}
*/

a.greenLink {
    color: #8CD867;
    text-decoration: none;
}

.accordionHeader {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* glitch underline on hover */
.accordionHeader:hover, .accordionHeader:visited {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.answer {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400; 
    padding: 10px;
    text-align: left;
}
.answer:hover, .answer:checked {
    border: none;
    color: #8CD867;
    font-family: "Muli", sans-serif;
    font-weight: 400; 
    padding: 10px;
    text-align: left;
}

.btn-secondary {
    background-color: white;
    border: 1px solid #596869;
    color: #363537;
    border-radius: 4px;
    
}

.btn-secondary:hover, .btn-secondary:active:focus { /* when checked, change color to green */ 
    background-color: #8cd867;
    border: none;
    
}

.cardResult {
    margin: 0px;
    padding: 0px;
}







.card-header {
    background-color: #596869;
    color: white;
    border: none;
    border-top: 1px solid black;
}

.card {
    border: none;
}

.card-body {
    padding: 0px;
}

.cardResult {
    padding: 10px;
}

.carousel-indicators {
    color: black;
}


h1 {
    color: #363537;
    font-family: "Rammetto One"
    /* , cursive;  */
}

h2 {
    color: #363537;
    font-family: "Rammetto One", cursive;
    text-align: center;   
}

h3 {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    text-align: center;   
}


img.resultsImageCover {
    height: 300px; /* change later */
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

.master {
    margin-top: 70px;
}

nav {
    position: fixed;
    background-color: white;
}

p {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
}

.questionAnswers {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.questionBox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.questionAccordion {
    max-width: 768px;
    border: 1px solid black;
}

.redButton {
    background-color: #FF2B6B;
    border: none;
    border-radius: 0px;
    color: #F5F9E9;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    padding: 15px;
}


.resultTable {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
}


.tableHeader > th {
    padding: 20px;
}


/* andy's added style */
body {
    background-color: #455051 !important; /* #545b62 */
    display: flex;
}
#bottom { /* probs change id or class */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FF2B6B;

}
.btn {
    padding: 10px 100px;
    background-color: #EFEFEF;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #8cd867 !important;
}
.carousel-control-prev {
    justify-content: flex-start;
    align-items: center;
}
.carousel-control-prev {
    justify-content: flex-end;
    align-items: center;
}
.carousel-indicators {
    justify-content: center;
    align-items: flex-end;
    /* position: relative; */
    /* height: 200px; */
}
.carousel-item {
    padding: 90px 30px;
}

h1 {
    color: #8cd867;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
h2 {
    color: #EFEFEF;
    padding-bottom: 50px;
}
h3, h4 {
    color: #EFEFEF; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
h5 {
    color: #EFEFEF;
    font-family: "Rammetto One", cursive;
    text-align: center;   
}

.navbar {
    background-color: #EFEFEF;
}
p, h2 {
    overflow-wrap: break-word;
}
.redButton:hover {
    filter: brightness(85%);
}
.quiz {
    width: 961px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.quizPrev, .quizNext {
    height: 100px;
    margin: 0px;
    padding: 0px;
    top: 100px;
    width: 50px;
}
.question {
    padding: 0 25px 35px 25px;
}





/* 
body, nav {
    max-width: 768px; 
    margin: auto;
} */



