.accordionHeader {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* glitch underline on hover */
.accordionHeader:hover, .accordionHeader:visited {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

h1 {
    color: #363537;
    font-family: "Rammetto One", cursive; 
}

h2 {
    color: #363537;
    font-family: "Rammetto One", cursive;
    text-align: center;   
}

h3 {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    text-align: center;   
}

.resultTable {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
}

p {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
}

.answer {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400; 
    padding: 10px;
    text-align: left;
}

.answer:hover, .answer:checked {
    border: none;
    color: #8CD867;
    font-family: "Muli", sans-serif;
    font-weight: 400; 
    padding: 10px;
    text-align: left;
}

.card-header {
    /* background color too pistachio */
    /* background-color: #F5F9E9;*/
    background-color: transparent;
    border: none;
}

.card {
    border: none;
}

.card-body {
    padding: 0px;
}

.cardResult {
    padding: 10px;
}

.redButton {
    background-color: #FF2B6B;
    border: none;
    border-radius: 0px;
    color: #F5F9E9;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    padding: 15px;
}


/* controls for carousel */
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}






img.resultsImageCover {
    height: 300px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

.tableHeader > th {
    padding: 20px;
}

.cardResult {
    margin: 0px;
    padding: 0px;
}

a.greenLink {
    color: #8CD867;
    text-decoration: none;
}
