@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Rammetto+One|Pacifico');

/* next three styles are for the CSS fix for persistent footer */
html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    
    margin: 0;
    padding-bottom: 50px;
    position: relative;
}



a.greenLink, a.greenLink:hover, a.greenLink:visited {
    color: #8CD867;
    font-weight: 700;
    text-decoration: none;
}

/* .accordionControl, .quizControl {
    background-color: none;
    height: 100px;
    margin: 0px;
    padding: 0px;
    top: 100px;
    width: 50px;
}

.accordionControl:hover, .quizControl:hover {
    background-color: salmon;
    height: 100px;
    margin: 0px;
    opacity: 0.3;
    padding: 0px;
    top: 100px;
    width: 40px;
} */

.answerButton {
    padding-bottom: 10px;
    border: 2px solid #596869;
    border-radius: 4px !important;
    background-color: transparent;
    margin: 5px !important;
}

.btn, .btn:hover, .btn:focus {
    white-space: normal; /* wrap text */
    text-decoration: none;
    border: none;
}

.btn-link, .btn-link:hover, .btn-link:focus { /* no underline when you move off of the link */
    text-decoration: none;
}

.btn-secondary { /* quiz answer buttons */
    background-color: white;
    border: 1px solid #596869;
    color: #363537;
    border-radius: 4px;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #8cd867 !important;
    border: none;
}

.btn-secondary:hover, .btn-secondary:active:focus { /* when checked, change color to green */
    background-color: #8cd867;
    border: none;
}

.card-body {
    background-color: white;
    border: none;
    padding: 0px;
}

.carouselSmCard {
    max-width: 300px;
    width: 300px;
    margin-top: 15px;
}

.cardResult, .card-header {
    border: none;
    background-color: white;
}

.card {
    border: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    opacity: 0;
}

/* breakpoint for results page finalize button margin */
@media (min-width: 992px) {
    .extraTopMargin {
        margin-top: 50px;
    }
}

.finalize {
    margin-bottom: 20px;
}
.footer {
    /* margin-bottom: 10px; */
    /* padding-bottom: 100px; */
    /* border-bottom: 100px solid transparent; */
    /* display: inline; */
    position: absolute;
}

/* HEADINGS */
h1 {
    color: #8cd867;
    font-family: "Pacifico";
}

h2 {
    color: pink;
    font-family: "Rammetto One";
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    h2 {
        font-size: 125px;
        line-height: 125px;
    }
}

h3 {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
}

.whiteHeroTxt {
    font-family: 'Muli';
    font-size: 24px;
    color: white;
    font-weight: 700;
}

@media (min-width: 768px) {
    .whiteHeroTxt {
        font-size: 36px;
    }
}

h4 {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
}

h4:hover, h4:visited, h4:focus {
    color: #363537;
    font-family: "Muli", sans-serif;
    text-decoration: none;
}

h5 {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
}

h6#credit { /* footer style */
    margin-left: auto;
    margin-right: auto;
    color: salmon;
    padding-top: 10px;
}

.heroTxtCol, .quizTxtCol {
    height: 400px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .heroTxtCol, .quizTxtCol {
    padding: 0px;
    }
}

@media (min-width: 992px) {
    .quizTxtCol {
    height: 500px;
    padding: 0px;
    }
}

.heroBtn {
    margin-top: 40px;
    max-width: 400px;
}

.heroBanner {
    padding: 20px;
}

.quizBanner {
    margin: 20px;
}

@media (min-width: 768px) {
    .heroBanner {
        padding: 40px;
    }  
}

@media (min-width: 768px) {
    .quizBanner {
        margin: 40px;
    }  
}

/* landing page banner */
.heroBanner {
    background: linear-gradient(to bottom left, pink, coral);
    height: 600px;
}

/* IMAGE MASK */
img.resultsImageCover {
    height: 300px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

img.quizImageSm {
    height: 30px;
    opacity: 0.2;
}

@media (min-width: 768px) {
    img.quizImageSm {
        height: 100px;
        opacity: 0.2;
    }
}

img.resultsImageCover {
    height: 150px;
}

.itineraryCard {
    margin: 15px;
    padding: 20px;
    display: none;
}

.itineraryData {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.finalImage {
  opacity: 0;
}

.master {
    padding-top: 45px;
    margin-top: 20px;
}

#movieCarousel {
    height: 680px;
}
.navbar {
    position: fixed;
    background-color: white;
    border-bottom: 2px solid #EFEFEF;
    border-top: 2px solid #EFEFEF;
    padding: 5px;
}

p {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
}

.questionAccordion {
    max-width: 768px;
    border: 1px solid #363537;
}

.questionAnswers {
    border-top: 2px solid #EFEFEF;
    padding-top: 20px;
    margin-top: 20px;
}

.questionBox {
    margin-left: auto;
    margin-right: auto;
}

.redButton {
    background-color: #ff3366;
    border: none;
    border-radius: 0px;
    color: white;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    padding: 15px;
}

.redButton:hover {
    filter: brightness(85%);
}

#restaurantCarousel {
    height: 540px;
    padding: 8px 0px;
    margin: 0px;
}

.resultTable {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #EFEFEF;
    padding-bottom: 0px;
}

#restaurantCarousel, #movieCarousel {
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
}

.resultHeadingH3 {
    font-family: "Rammetto One";
    text-transform: uppercase;
    color: salmon;
    font-size: 24px;
    margin: 30px;
}

@media (min-width: 576px) {
    .resultHeadingH3 {
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .resultHeadingH3 {
        font-size: 48px;
    }
}

/* .resultReview {
    border-top: 1px solid #596869;
    padding-top: 30px;
    width: 100%;
} */

.resultTable {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

/* .quiz {
    margin-left: auto;
    margin-right: auto;
} */

/* .quizItem {
    padding-top: 150px;
} */

.question {
    color: #363537;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.quizControlArrow, .quizControlArrow:focus, 
.accordionControl, .accordionControl:focus {
    background-color: none;
    margin: 0px;
    opacity: 0.2;
}

.quizControlArrow:hover, .accordionControl:hover {
    opacity: 0.4;
}

.accordionControl > img {
    width: 40px;
    padding: 10px 0px;
}

.accordionControl {
    height: 20px;
}

.quizControlArrow > img {
    width: 40px;
    padding-bottom: 55px;
}

.carousel-indicators > li {
    border-radius: 5px;
    width: 5px;
    height: 5px;
    background-color: lightgray;
    border: 1px solid lightgray;
}

/* need to crop these images in photoshop */
img.quizImageCover {
    height: 150px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    opacity: 0.2;
}

/* need to add spec for mobile (smaller image) */
@media (min-width: 992px) {
    img.quizImageCover {
        height: 500px;
        margin: 0px;
        object-fit: cover;
        overflow: hidden;
        padding: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
img.quizImageCover {
    display: none !important; /* the image disappears when screen's are too small. There is probs a better way to prioritize this instead of using "!important"*/
    /* height: 250px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    width: 50%; */
    }
}



/* .quizImgCol {
    margin: 0px;
    padding: 0px;
} */

.navbar {
    padding: 0px 20px;
}

.nav-link:hover {
    color: coral !important;
}

.pacificoHeroTxt {
    font-family: 'Pacifico';
    font-size: 54px;
    color: white;
    text-align: left;
}

@media (min-width: 768px) {
    .pacificoHeroTxt {
        font-size: 72px;
        text-align: right;
    }
}

.heroBanner {
    padding: 20px;
}

@media (min-width: 768px) {
    .heroBanner {
        padding: 40px;
    }
}


/* landing page banner */
.heroBanner {
    background: linear-gradient(to bottom left, pink, coral);
    height: 600px;
}

.navbar {
    padding: 0px 20px;
}

.nav-link:hover {
    color: coral !important;
}

.profileThumbnail {
    width: 50px;
    border: 2px solid #EFEFEF;
    border-radius: 50px;
}

.takeTheQuiz {
    padding-top: 20px;
}

@media (min-width: 768px) {
    .takeTheQuiz {
        padding: 0px;
    }
}

.theBackgroundA {
    background: linear-gradient(to bottom, pink, pink 50%, white 50%, white);
    background-size: 100% 320px;
    height: 640px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
}

.theBackgroundB {
    background: linear-gradient(to bottom, salmon, salmon 50%, white 50%, white);
    background-size: 100% 320px;
    height: 640px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
}

.whiteButton {
background-color: white;
border: none;
border-radius: 0px;
color: coral;
font-family: "Muli", sans-serif;
font-weight: bold;
padding: 15px;
}

.whitebutton:hover { /* glitch */
    filter: brightness(85%);
}